<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <div>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
    <div>
        <h1>My Projects</h1>
    </div>
    <div>
        <div>
            <img style="height: 100px; " src="~/img/Kagurabachi.jpg" alt="kagura">
            <div>
                <h3>Project 1</h3>
                <p>@ViewBag.DesProject</p>
            </div>
        </div>
            <div>
            <img style="height: 100px; " src="~/img/makii.PNG" alt="Maki">
            <div>
                <h3>Project 2</h3>
                <p>@ViewBag.DesProjectt</p>
            </div>
             <div>
            <img style="height: 100px; " src="~/img/yutaa.jpg" alt="yuta">
            <div>
                <h3>Project 3</h3>
                <p>@ViewBag.DesProjecttt</p>
            </div>
        </div>
    </div>
</body>
</html>