
<div class="text-center">
    <h1 class="display-4">Welcome !</h1>
    <h3>Please give Your Name:</h3>
    <form action="EnterGame" method="post">
        <label ></label>
    <input type="text" name="player" >
    <button >Submit</button>
    </form>
</div>
