* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    margin: 0 auto;
    width: 1000px;
}


.network {
    background-color: black;
    color: white;
    



}

.feed {
    display: flex;
    justify-content: center;
}

.down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;



}

.User {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 200px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.User img {
    width: 100px;
}

.alldown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.nm {
    border: solid black;
    display: flex;
    flex-direction: column;



}

.neilll {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nkll {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

button {
    background-color: yellow;
}

.nk {
    border: solid black;

}

.jrll {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.jr {
    border: solid black;

}