<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="~/css/style.css" />

</head>
<body>
    <div>
        <h1>Submitted Info</h1>
        <div>
            <h5>Name:</h5>
            <h5>@ViewBag.Name</h5>
        </div>
        <div>
            <h5>Dojo Location:</h5>
            <h5>@ViewBag.location</h5>
        </div>
        <div>
            <h5>Favorite language:</h5>
            <h5>@ViewBag.language</h5>
        </div>
        <div>
            <h5>Comment Optional:</h5>
            <h5>@ViewBag.comment</h5>
        </div>
    </div>

</body>
</html>