* {
    margin: auto;
}

/* Navbar */
.dojonary {
    background-color: rgba(204, 205, 205, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 820px;
}

.lbtn {
    height: 20px;
    background-color: rgba(42, 120, 229, 255);
    color: white;
    margin-right: 20px;
    box-shadow: 1px 5px black;

}

.searchbar {
    height: 20px;
    width: 400px;

}

.wdojonary {
    margin-left: 20px;
}

/* ----------------------------------------------------- */
/* downnavbardojonary */

.downavbardojo {
    display: flex;
}

.ninja1337 {
    margin-left: 357px;
}

.ninja1337 button {
    background-color: yellow;
}

/* cadre1 */

.ninjajapa {
    border: solid black;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 100px;
}




/* ------------------------------------------------
cadre2 */

.ninjazen {
    display: flex;
    justify-content: space-around;
    justify-content: space-around;
    align-items: center;
    border: solid black;
    margin-top: 20px;
    width: 500px;
    height: 100px;
}


/* cadre3---------------------- */

.dojonaryyou {
    border: solid black;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 357px;
    height: 90px;
    width: 300px;
    align-items: start;
}

.dojonaryyou button {
    background-color: green;
    width: 250px;

}

.dojonaryyou h2 {
    margin-left: 10px;

}