h1{
    color: aqua;
    background-color: black;

}
.whitemy{
    color: white;
}
h2{
    color: white;
    background-color: purple;
}
h2{
    text-align: center;
}
h4{
    text-align: end;
    background-color: aqua;
    text-decoration: underline;
}